.contact {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-end;
  padding-bottom: 6px;
  border-bottom: 1px dotted gray;
}

.pair {
  display: flex;
  flex-direction: column;
  /* width: 90%; */
}
@media screen and (min-width: 480px) {
  .pair {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
}

.name {
  display: block;

}
@media screen and (min-width: 480px) {
  .name {
    width: 65%;
  }
}

.deleteButton {
  padding: .25em 1em;
  border-radius: 5px;
  border: 1px solid grey;
  cursor: pointer;
  margin-left: 10px;
}